*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif !important;
}

body {
  min-height: 100vh;
  background: url('./assets/svgs/root-bg.svg') #f8f8f8 no-repeat;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  outline: none;
  text-transform: none !important;
  border: none;
}

a,
button {
  cursor: pointer;
  background: transparent;
}

button {
  font-weight: 500;
}

@media screen and (min-width: 1740px) {
  body {
    background-size: contain;
  }
}

@media screen and (max-width: 1440px) {
  body {
    background-position: -200px 0;
  }
}

@media screen and (max-width: 1240px) {
  body {
    background-position: -300px 0;
  }
}

@media screen and (max-width: 1040px) {
  body {
    background-position: -500px 0;
  }
}

@media screen and (max-width: 840px) {
  body {
    background-position: -600px 0;
  }
}
@media screen and (max-width: 700px) {
  body {
    background-position: -650px 0;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-position: -750px 0;
  }
}
@media screen and (max-width: 440px) {
  body {
    background-position: -850px 0;
  }
}
@media screen and (max-width: 320px) {
  body {
    background-position: -925px 0;
  }
}
